# Configuration file

"allow mod biomes" {
    B:"Allow biomes from this mod to generate"=true
}


biome {

    atg {

        gravelbeach {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        rockysteppe {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        shrubland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        snowygravelbeach {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tropicalshrubland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tundra {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        volcano {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        woodland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

    }

}


biomes {
    B:"Generate ATG Gravel Beach"=true
    B:"Generate ATG Rocky Steppe"=true
    B:"Generate ATG Shrubland"=true
    B:"Generate ATG Snowy Gravel Beach"=true
    B:"Generate ATG Tropical Shrubland"=true
    B:"Generate ATG Tundra"=true
    B:"Generate ATG Volcano"=false
    B:"Generate ATG Woodland"=true
}


villages {
    B:"Allow villages to generate in ATG Gravel Beach"=false
    B:"Allow villages to generate in ATG Rocky Steppe"=true
    B:"Allow villages to generate in ATG Shrubland"=true
    B:"Allow villages to generate in ATG Snowy Gravel Beach"=false
    B:"Allow villages to generate in ATG Tropical Shrubland"=true
    B:"Allow villages to generate in ATG Tundra"=true
    B:"Allow villages to generate in ATG Volcano"=false
    B:"Allow villages to generate in ATG Woodland"=true
}


weights {
    I:"Weight of ATG Gravel Beach"=5
    I:"Weight of ATG Rocky Steppe"=10
    I:"Weight of ATG Shrubland"=10
    I:"Weight of ATG Snowy Gravel Beach"=5
    I:"Weight of ATG Tropical Shrubland"=10
    I:"Weight of ATG Tundra"=10
    I:"Weight of ATG Volcano"=1
    I:"Weight of ATG Woodland"=10
}


