# Configuration file

"allow mod biomes" {
    B:"Allow biomes from this mod to generate"=true
}


biome {

    buildcraft {

        desertoilfield {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        oceanoilfield {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

    }

}


biomes {
    B:"Generate BC Desert Oil Field"=true
    B:"Generate BC Ocean Oil Field"=true
}


villages {
    B:"Allow villages to generate in BC Desert Oil Field"=false
    B:"Allow villages to generate in BC Ocean Oil Field"=false
}


weights {
    I:"Weight of BC Desert Oil Field"=1
    I:"Weight of BC Ocean Oil Field"=1
}


